<!-- Modal -->
<div class="modal fade" id="alertModal" role="dialog">
    <div class="modal-dialog">

        <!-- Modal content-->
        <div class="modal-content">
            <div class="modal-header alert-danger">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 id="alert-dialog-title" class="modal-title">Thông báo</h4>
            </div>
            <div class="modal-body">
                <div id="alert-dialog-error"></div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Đóng</button>
            </div>
        </div>

    </div>
</div>