@model NewsCategoryModel


<div class="panel-group">
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_info_top", additionalData = Model.Id })
    <div class="panel panel-default">
        <div class="panel-body">

            <div class="form-group" @(Model.AvailableLanguages.SelectionIsNotPossible() ? Html.Raw("style=\"display:none\"") : null)>
                <div class="col-md-3">
                    <nop-label asp-for="LanguageId" />
                </div>
                <div class="col-md-9">
                    <nop-select asp-for="LanguageId" asp-items="Model.AvailableLanguages" />
                    <span asp-validation-for="LanguageId"></span>
                </div>
            </div>
            <div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Name" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Name" asp-required="true" />
                        <span asp-validation-for="Name"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="Description" />
                    </div>
                    <div class="col-md-9">
                        <nop-editor asp-for="Description" asp-template="RichEditor" />
                        <span asp-validation-for="Description"></span>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="PictureId" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="PictureId" />
                    <span asp-validation-for="PictureId"></span>
                </div>
            </div>
            @*<div class="form-group">
                    <div class="col-md-3">
                        <nop-label asp-for="ParentCategoryId" />
                    </div>
                    <div class="col-md-9">
                        <nop-select asp-for="ParentCategoryId" asp-items="Model.AvailableCategories" />
                        <span asp-validation-for="ParentCategoryId"></span>
                    </div>
                </div>*@

            <div class="form-group advanced-setting">
                <div class="col-md-3">
                    <nop-label asp-for="ShowOnHomePage" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="ShowOnHomePage" />
                    <span asp-validation-for="ShowOnHomePage"></span>
                </div>
            </div>
            <div class="form-group advanced-setting">
                <div class="col-md-3">
                    <nop-label asp-for="IncludeInTopMenu" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="IncludeInTopMenu" />
                    <span asp-validation-for="IncludeInTopMenu"></span>
                </div>
            </div>

            <div class="form-group advanced-setting">
                <div class="col-md-3">
                    <nop-label asp-for="Published" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="Published" />
                    <span asp-validation-for="Published"></span>
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-3">
                    <nop-label asp-for="DisplayOrder" />
                </div>
                <div class="col-md-9">
                    <nop-editor asp-for="DisplayOrder" />
                    <span asp-validation-for="DisplayOrder"></span>
                </div>
            </div>

        </div>
    </div>
    @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_details_info_bottom", additionalData = Model.Id })
</div>