@model NewsCategorySearchModel

@{
    //page title
    ViewBag.Title = T("Admin.Catalog.NewsCategory.Manage").Text;
    //active menu item (system name)
    Html.SetActiveMenuItemSystemName("News Category");
}

<nop-antiforgery-token />
<div class="content-header clearfix">
    <h1 class="pull-left">
        @T("Admin.Catalog.NewsCategory.Manage")
    </h1>
    <div class="pull-right">
        <a asp-action="Create" class="btn bg-blue">
            <i class="fa fa-plus-square"></i>
            @T("Admin.Common.AddNew")
        </a>

        @await Component.InvokeAsync("AdminWidget", new { widgetZone = "admin_category_list_buttons" })
    </div>
</div>

<div class="content">
    <div class="form-horizontal">
        <div class="panel-group">

            <div class="panel panel-default">
                <div class="panel-body">
                    @await Html.PartialAsync("Table", new DataTablesModel
                    {
                        Name = "categories-news-grid",
                        UrlRead = new DataUrl("List", "NewsCategory", null),
                        SearchButtonId = "search-categories-news",
                        Length = Model.PageSize,
                        LengthMenu = Model.AvailablePageSizes,
                        Filters = new List<FilterParameter>
                        {
                            new FilterParameter(nameof(Model.SearchCategoryName))
                        },
                        ColumnCollection = new List<ColumnProperty>
                        {
                            new ColumnProperty(nameof(NewsCategoryModel.Id))
                            {
                                IsMasterCheckBox = true,
                                Render = new RenderCheckBox("checkbox_products"),
                                ClassName =  NopColumnClassDefaults.CenterAll,
                                Width = "50",
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.Name))
                            {
                                Title = T("Admin.Catalog.Categories.Fields.Name").Text
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.Published))
                            {
                                Title = T("Admin.Catalog.Categories.Fields.Published").Text,
                                Width = "100",
                                ClassName = NopColumnClassDefaults.CenterAll,
                                Render = new RenderBoolean()
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.DisplayOrder))
                            {
                                Title = T("Admin.Catalog.Categories.Fields.DisplayOrder").Text,
                                Width = "150",
                                ClassName =  NopColumnClassDefaults.CenterAll
                            },
                            new ColumnProperty(nameof(NewsCategoryModel.Id))
                            {
                                Title = T("Admin.Common.Edit").Text,
                                Width = "100",
                                ClassName =  NopColumnClassDefaults.Button,
                                Render = new RenderButtonEdit(new DataUrl("Edit"))
                            }
                        }
                    })
                </div>
            </div>
        </div>
    </div>
</div>
